@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --blueColor: "#002F5F";
  --greenColor: "#78BE20";
  --highlightColor: "#00ADEF";
  --surfaceColor: "#F5F7FA";
  --textDark: "#222222";
}

body {
  /* margin: 0;
  font-family: "Inter", sans-serif; */
  @apply bg-[var(--blueColor)] text-white min-h-screen;
}



