# Diretórios e arquivos Go gerados automaticamente
vendor/
bin/
build/
*.exe
*.test
*.out

# Módulos Go
go.sum

# Arquivos temporários e cache
*.log
*.tmp

# Arquivos do Fabric gerados na compilação
energytoken.tar.gz
energytoken

# IDEs e ambientes locais
.vscode/
.idea/
